<!DOCTYPE html>
<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["butter", "egg", "cheese"];
    $scope.addItem=function(){
        $scope.products.push($scope.addMe);
    }
    $scope.removeItems=function(x){
        $scope.products.splice(x,1);
    }
});
</script>
<div ng-app="myShoppingList" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="p in products">{{p}} <span ng-clcik="removeItems($index)">&times</span></li>
    </ul>
</div>
<input type="text" ng-model="addMe"/>
<button ng-click="addItem()">Add</button></button>
</body>
</html>